@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=M+PLUS+Rounded+1c:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}


html {
    height: 100%;
    background-color: #ECE7E4;
}

body{
    height: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.name-image img {
    width: 80px;
    height: 80px;
    margin-left: 60px;
    padding: 10px 10px;
}

.header-category  {
    display: flex;
    font-size: 25px;
    width: inherit;  
    padding: 35px 35px;
}

.header-category a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.header-button {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    width: 130px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.i1-field img{
    width: 300px;
    height: 300px;
    top: 37%;
    left: 85%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.name1-field {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    padding: 0px 380px;
    margin-top: 30px;
    
}

.area1-field {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color:black;
    margin-top: 50px;
    text-align: justify;
    width: 55em;
}

.header-menu {
    display: none;
}

.decor-line {
    background-color: #CEC4BC;
    margin-top: 70px;
    height: 130px;
}

.name-about {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    animation: ani10601 5s linear infinite;
    opacity: 0.2;
}

@keyframes ani10601 {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

.i1-about img {
    width: 450px;
    height: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.area1-about {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    text-align: center;
    margin-bottom: 50px;
}

.i2-about img{
    width: 450px;
    height: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.i1-menu img{
    width: 50px;
    height: 50px;
}

.i2-menu img {
    width: 50px;
    height: 50px;
}
/*Projects.html*/

.head-proj {
    font-family: 'Inter', sans-serif;
    color: #000;
    margin-top: 100px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.project-image1 {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 400px;
}

footer {
    display: flex;
    width: 100%;
    height: 15%;
    background-color: #CEC4BC;
}

.footer-title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

.footer-category li {
    list-style-type: none;
    font-size: 15px;
    padding: 20px 250px 0px 30px;
}

.footer-category a {
    text-decoration: none;
    font-size: 15px;
    color: #000;
    padding: 0px 0px 0px 0px;
} 


